@media (min-width: 50em) {

body {
  position: relative;
  min-height: 100vh;
}

header.main-heading {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  z-index: 100;
  flex-direction: column;
  .logo-wrapper {
    text-align: center;
    #logo-img {
      width: 15rem;
      height: 10rem;
    }
  }
  #navigation-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    li {
      display: block;
      width: 100%;
      margin-top: 5rem;
      padding: 0 2rem;
      a {
        font-size: 2.44rem;
      }
    }
  }
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
}

//introduction
div.introduction {
  min-height: 100vh;
  padding: 30vh 0.5em 0;
  .intro-wrapper {
    p.name {
      letter-spacing: 1em;
      font-size: 2em;
    }
    h1.job-title {
      font-size: 5em;
    }
  }
}

//make font-size bigger in large screen
  #about .section-title,
  #projects .section-title,
  #contact .section-title,
  #skills .section-title {
    font-size: 5em;
  }

  .main-section>h3.sub-title {
    font-size: 2.25em;
  }

  .introduction p {
    font-size: 2.25em;
  }
  h5,p,figcaption, .skill-title, .skill-percentage {
    font-size: 1.194em;
  }

div.skill-set {
  font-size: 5em;
}

  .wrapper {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  div.highlight {
    top: -60px;
    height: 60px;
  }

}
