@media (min-width: 40em) {
//introduction
div.introduction {
  min-height: 100vh;
  padding: 30vh 0.5em 0;
  .intro-wrapper {
    p.name {
      letter-spacing: 1em;
      font-size: 2em;
    }
    h1.job-title {
      font-size: 5em;
    }
  }
}

//make font-size bigger in large screen
  #about .section-title,
  #projects .section-title,
  #contact .section-title,
  #skills .section-title {
    font-size: 5em;
  }
  .introduction p {
    font-size: 2.25em;
  }
  h5,p,figcaption, .skill-title, .skill-percentage {
    font-size: 1.194em;
  }

div.skill-set {
  font-size: 5em;
}

  .wrapper {
    padding-left: 10%;
    padding-right: 10%;
  }

  div.highlight {
    top: -60px;
    height: 60px;
  }

}
