@import url("https://fonts.googleapis.com/css?family=Lora|Ubuntu+Mono");
@media (min-width: 40em) {
  div.introduction {
    min-height: 100vh;
    padding: 30vh 0.5em 0; }
    div.introduction .intro-wrapper p.name {
      letter-spacing: 1em;
      font-size: 2em; }
    div.introduction .intro-wrapper h1.job-title {
      font-size: 5em; }

  #about .section-title,
  #projects .section-title,
  #contact .section-title,
  #skills .section-title {
    font-size: 5em; }

  .main-section > h3.sub-title {
    font-size: 2.25em; }

  .introduction p {
    font-size: 2.25em; }

  h5, p, figcaption, .skill-title, .skill-percentage {
    font-size: 1.194em; }

  div.skill-set {
    font-size: 5em; }

  .wrapper {
    padding-left: 10vw;
    padding-right: 10vw; }

  div.highlight {
    top: -60px;
    height: 60px; } }
@font-face {
  font-family: 'Myriad-bold';
  src: url("./Fonts/MyriadPro-Bold.otf"); }
@font-face {
  font-family: 'Myriad';
  src: url("./Fonts/MyriadPro-Regular.otf"); }
/*=================== GENERAL STYLE ======================*/
body {
  font-family: "Myriad", sans-serif;
  font-size: 100%/1.6;
  font-weight: 400;
  margin: 0 auto;
  padding: 1em;
  color: #405151;
  text-align: left;
  background: #F1FFE7;
  min-height: 100vh; }

.wrapper {
  margin: 0 0.5em; }

.main-section {
  text-align: center;
  margin: 0 auto 3em; }
  .main-section .section-title {
    font-weight: bold;
    font-size: 3.125em;
    font-family: "Lora", serif;
    display: inline-block;
    margin-bottom: 0; }
  .main-section .sub-title {
    font-size: 1.918em; }

footer {
  margin-top: 5em;
  text-align: center; }

.highlight {
  width: 100%;
  height: 30px;
  background: linear-gradient(to right, #CFECB4, #12896B);
  position: relative;
  top: -30px;
  z-index: -1;
  opacity: 0.7; }

.come-in {
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -o-transform: translateY(200px);
  transform: translateY(200px);
  animation: come-in 3s ease forwards;
  /* So they look staggered */ }
  .come-in:nth-child(odd) {
    animation-duration: 1.5s; }

@keyframes come-in {
  to {
    transform: translateY(0); } }
.turn-right {
  animation: turn-right .5s ease-in-out forwards; }

@keyframes turn-right {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
/*=================== HEADER STYLE ======================*/
.nav-bg {
  background: rgba(18, 137, 107, 0.8); }

.nav-show {
  background: rgba(18, 137, 107, 0.9);
  box-shadow: 0 1px 2px rgba(79, 130, 196, 0.6); }

.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }

.navigation-bar {
  margin-bottom: 3em;
  display: flex; }
  .navigation-bar ul {
    margin-left: auto; }
    .navigation-bar ul li {
      display: inline-block;
      padding: 0.75em .5em 0;
      text-transform: uppercase; }
      .navigation-bar ul li a {
        text-decoration: none;
        color: #CFECB4;
        height: 0px;
        padding: 0; }
        .navigation-bar ul li a:after {
          content: '';
          display: block;
          width: 0;
          position: relative;
          top: -23px;
          height: 3px;
          background: #CFECB4;
          transition: width .3s; }
        .navigation-bar ul li a:hover:after {
          width: 100%; }

#logo-img {
  width: 5em;
  transition: all 2s ease-in-out;
  animation: fadeIn 2s;
  position: relative;
  left: 0.2em; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px; }
  100% {
    opacity: 1;
    left: 0;
    transform: rotate(0deg); } }
/*=================== INTRO SECTION ====================*/
.introduction {
  margin: 5em auto;
  text-align: center; }
  .introduction .intro-wrapper {
    display: inline-block;
    box-shadow: 0 0 5px #368E5F;
    border-radius: 5px;
    padding: 3em;
    background: linear-gradient(45deg, #65c592 50%, #CFECB4 50%); }
    .introduction .intro-wrapper > .name {
      position: relative;
      color: #368E5F;
      font-size: 1.618em;
      letter-spacing: 0.5em; }
    .introduction .intro-wrapper .line {
      width: 80%;
      height: 3px;
      margin: auto;
      background: #368E5F;
      animation: turn-right 2s ease-in-out forwards; }
    .introduction .intro-wrapper .job-title {
      font-family: "Myriad-bold", sans-serif;
      font-weight: bold;
      color: #368E5F;
      font-size: 3em;
      text-transform: uppercase;
      text-shadow: inset 0 0 1px #111;
      transition: all 2s ease-in-out;
      animation: fadeIn 4s; }

/*=================== PROJECTS SECTION ======================*/
#projects {
  text-align: right; }
  #projects .project-container {
    display: flex;
    flex-wrap: wrap; }
    #projects .project-container .card {
      max-width: 20vw;
      min-width: 150px;
      text-align: left;
      font-size: .75em;
      background: transparent;
      -webkit-transform: scale(0.95);
      -moz-transform: scale(0.95);
      -o-transform: scale(0.95);
      transform: scale(0.95);
      transition: all 0.2s ease-in-out;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px; }
      #projects .project-container .card:hover {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); }
      #projects .project-container .card .card-image {
        min-width: 150px;
        max-width: 20vw;
        height: 100%; }
        #projects .project-container .card .card-image .image-custom {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      #projects .project-container .card .card-content {
        padding: 10px; }
      #projects .project-container .card .card-title {
        font-size: 1.194em; }
      #projects .project-container .card .stack-icon {
        margin-bottom: 18px; }
        #projects .project-container .card .stack-icon span {
          margin-right: 3px;
          border-radius: 5px;
          padding: 5px; }
        #projects .project-container .card .stack-icon .html5 {
          background: rgba(201, 113, 160, 0.7); }
        #projects .project-container .card .stack-icon .css3 {
          background: rgba(176, 125, 59, 0.3); }
        #projects .project-container .card .stack-icon .jquery {
          background: rgba(54, 142, 95, 0.7); }
        #projects .project-container .card .stack-icon .js {
          background: rgba(18, 137, 107, 0.7); }
        #projects .project-container .card .stack-icon .reactjs {
          background: rgba(207, 236, 180, 0.7); }
        #projects .project-container .card .stack-icon .sass {
          background: #ed7694; }
      #projects .project-container .card .card-reveal {
        z-index: 90; }
      #projects .project-container .card .live {
        text-decoration: none;
        color: #368E5F;
        margin-right: 1em; }
      #projects .project-container .card .github {
        text-decoration: none;
        color: #405151; }

/*=================== SKILLS SECTION ======================*/
.skill-set {
  width: 100%;
  margin: auto;
  font-size: 3em;
  padding: 1em;
  transition: all 0.2s ease-in-out; }
  .skill-set i {
    padding: 10px;
    line-height: 2em;
    box-shadow: 0 0 5px #111;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px; }

/*=================== ABOUT SECTION ======================*/
#about {
  text-align: left; }
  #about p i {
    padding-left: 1.75em; }
  #about a.resume {
    color: #CFECB4;
    background: #368E5F;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    padding: 1em; }
    #about a.resume i {
      position: relative;
      top: 4px;
      margin-right: 3px; }

/*=================== CONTACT SECTION ======================*/
#contact h3 {
  font-size: 1.618em;
  padding-bottom: 40px;
  margin: 0; }
#contact .links {
  padding: 0;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center; }
  #contact .links a li {
    list-style: none;
    margin: 1vw; }
    #contact .links a li img {
      width: 50px;
      height: 50px; }
  #contact .links a:hover {
    cursor: pointer; }

/*=================== FOOTER SECTION ======================*/
footer a {
  text-decoration: none;
  color: #368E5F; }
  footer a:hover, footer a:focus {
    color: #CFECB4;
    text-decoration: none; }

/*# sourceMappingURL=index.css.map */
